@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
/* ========== GENERAL STYLES =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ==== COLOR ======= */
  --color-dark-blue: #22588d;
  --color-ocean-blue: #3b88d2;
  --color-hover: #e9eff6;
  --color-light-gray: #ced2d9;

  --color-font-dark: #12293f;
  --color-font-blue: #2666a4;
  --color-bg-gray: #f4f5f6;
  --color-white: #fff;

  /* ======= TRANSITION ======= */
  --transition: 0.3s ease;

  /* ======= BORDER =========== */
  --bor-5: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  color: var(---color-font-dark);
  letter-spacing: normal;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--color-font-dark);
  transition: var(--transition);
}
section {
  padding: 120px 40px;
  width: 100%;
  overflow: hidden;
}

/* font */
.fontSize[data-title] {
  font-size: 48px;
  font-weight: 600;
}
.fontSize[data-medium-title] {
  font-size: 36px;
  font-weight: 600;
}
.fontSize[data-small-title] {
  font-size: 16px;
  font-weight: 600;
}
.fontSize[data-small] {
  font-size: 15px;
  font-weight: 600;
}
.fontSize[data-normal-text] {
  font-size: 13px;
  font-weight: 400;
}

.btn {
  border: none;
  cursor: pointer;
  width: max-content;
  transition: var(--transition);
}
.btn:hover {
  -webkit-box-shadow: 3px 5px 14px -4px rgba(98, 169, 224, 0.63);
  box-shadow: 3px 5px 14px -4px rgba(98, 169, 224, 0.63);
  transform: translateY(-5px);
}
.btn-blue {
  background: linear-gradient(
    90deg,
    var(--color-font-blue),
    var(--color-ocean-blue)
  );
  color: var(--color-white);
}

.bg-gray {
  background: var(--color-bg-gray);
}
.color-blue {
  color: var(--color-font-blue);
}

/* ===================================== */
/* ============== NAVBAR ============= */
nav {
  width: 100%;
  max-width: 100%;
  height: 76px;
  padding: 15px 40px 19px 40px;

  position: fixed;
  top: 0;
  left: 0;

  box-shadow: 0px 0px 12px rgb(206 210 217 / 25%);
  background: var(--color-white);
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* >>>> NAV LEFT <<<<< */
/* *** img *** */
.nav__wrapper__left img {
  width: 68px;
  height: auto;
}

/* >>>> NAV RIGHT <<<<< */
.nav__wrapper__right {
  display: flex;
  align-items: center;
}
/* *** normal nav *** */
.nav__wrapper__right-lists a {
  padding: 14px 16px;
  font-weight: 600;
}
.nav__wrapper__right-lists a:last-child {
  margin-right: 16px;
}
.nav__wrapper__right-lists a:hover {
  background: var(--color-hover);
}
/* *** responsive nav *** */
.nav__wrapper__right-list-responsive {
  display: none;
}
/* *** nav buttons *** */
.nav__wrapper__right-buttons {
  display: flex;
  align-items: center;
}
.nav__wrapper__right-buttons button {
  padding: 11px 24px;
  font-size: 14px;
  font-weight: 600;
}

.nav__wrapper__right-buttons button:nth-of-type(1) {
  border: 1px solid var(--color-font-blue);
  margin-right: 16px;

  background: transparent;

  color: var(--color-font-blue);
}
.nav__wrapper__right-buttons button:nth-of-type(2) {
  margin-right: 16px;
}
.nav__wrapper__right-buttons .menu {
  font-size: 48px;
  display: none;
  cursor: pointer;
}
/* ================== HEADER ================= */
header {
  margin-top: 80px;
  padding: 84px 40px 88px 40px;
  width: 100%;
  height: auto;
  background: var(--color-white);
}

.header__wrapper {
  width: 80%;
  margin: 0 auto;
}
.header__wrapper div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* >>>> TITLE <<<< */
.header__wrapper div h1 {
  font-size: 60px;
  text-align: center;
}
/* >>>> DESC <<<< */
.header__wrapper div p {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
/* >>>> BUTTON <<<< */
.header__wrapper div button {
  margin-top: 24px;
  padding: 18px 76px;
  font-size: 16px;
  font-weight: 600;
}
/* >>>> IMG <<<< */
.header__wrapper div img {
  width: 100%;
  margin-top: 40px;
}
/* ======= SECTION 1 ============ */
.sectionOne__wrapper {
  width: 80%;
  margin: 0 auto;
}
/* >>>> TITLE <<<<< */
.sectionOne__wrapper > p:nth-child(2) {
  margin-top: 48px;
}
.sectionOne__wrapper > p:nth-of-type(3) {
  margin-top: 96px;
}
/* >>>> DESC <<<<< */
.sectionOne__wrapper__desc {
  display: flex;
  gap: 10px;
  margin-top: 36px;
}
.sectionOne__wrapper__desc .sectionOne__wrapper__desc-item {
  flex: 1;
  display: flex;
}
.sectionOne__wrapper__desc .sectionOne__wrapper__desc-item img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-right: 8px;
}
.sectionOne__wrapper__desc
  .sectionOne__wrapper__desc-item
  div
  > p:nth-child(2) {
  margin-top: 8px;
}
/* >>>> IMG <<<<< */
.sectionOne__wrapper > img {
  width: 80%;
  display: block;
  margin: 56px auto 0 auto;
}

/* ======= SECTION 2 ============ */
.sectionTwo__wrapper {
  width: 80%;
  margin: 0 auto;

  display: flex;
  align-items: center;
}
/* >>>> SECTION 2 LEFT <<<<< */
/* ***img*** */
.sectionTwo__wrapper__left {
  flex: 1;
}
.sectionTwo__wrapper__left img {
  width: 100%;
}
/* >>>> SECTION 2 RIGHT <<<<< */
.sectionTwo__wrapper__right {
  margin-left: 60px;
  flex: 1;
}
/* *** title *** */
.sectionTwo__wrapper__right h3 {
  margin-bottom: 36px;
}

/* *** items *** */
.sectionTwo__wrapper__right-items {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.sectionTwo__wrapper__right-items > img {
  margin-right: 8px;
}
.sectionTwo__wrapper__right-items > div > p:last-child {
  margin-top: 8px;
}
.sectionTwo__wrapper__right-items > div > div {
  margin-top: 8px;
}
.sectionTwo__wrapper__right-items > div > div img {
  margin-right: 12px;
}

/* ======= SECTION 3 ============ */
.sectionThree__wrapper {
  display: flex;
  align-items: center;
  gap: 60px;

  width: 80%;
  margin: 0 auto;
}

.sectionThree__wrapper__left,
.sectionThree__wrapper__right {
  flex: 1;
}
/* >>>> SECTION LEFT <<<<< */
/* *** title *** */
.sectionThree__wrapper__left h3 {
  margin-bottom: 36px;
}
/* *** items *** */
.sectionThree__wrapper__left-items {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
}

.sectionThree__wrapper__left-items img {
  margin-right: 8px;
}
.sectionThree__wrapper__left-items div p:last-child {
  margin-top: 8px;
}
/* >>>> SECTION RIGHT <<<<< */
/* *** img *** */
.sectionThree__wrapper__right img {
  width: 100%;
}
/* ============ SECTION 4 ============== */
.sectionFour__wrapper {
  width: 80%;
  margin: 0 auto;
}
/* >>>> SECTION TOP <<<<<<*/
.sectionFour__wrapper__top {
  margin-bottom: 56px;
  margin-left: 16px;
}

.sectionFour__wrapper__top :is(h2, p:nth-of-type(1)) {
  margin-bottom: 36px;
}
/* >>>> SECTION CENTER <<<<<<*/
.sectionFour__wrapper__center {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
/* *** card *** */
.sectionFour__wrapper__center-card {
  border: 1px solid var(--color-light-gray);
  border-radius: var(--bor-5);

  margin: 16px;
  padding: 32px;
  width: calc(50% - 32px);
}

.sectionFour__wrapper__center-card-title p:first-child {
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: 600;
}
.sectionFour__wrapper__center-card:first-child
  .sectionFour__wrapper__center-card-img {
  margin-top: 80px;
}
.sectionFour__wrapper__center-card-img {
  margin-top: 40px;
}
.sectionFour__wrapper__center-card-img img {
  width: 100%;
}

/* SECTION BOTTOM */
/* *** title *** */
.sectionFour__wrapper__bottom h3 {
  margin-bottom: 56px;
  margin-left: 16px;
}
/* *** card *** */
.sectionFour__wrapper__bottom-card {
  display: flex;
  width: 100%;
}
.sectionFour__wrapper__bottom-card-item {
  flex: 1;
  width: calc(100% / 3);
  margin: 0 16px;
}
.sectionFour__wrapper__bottom-card-item img {
  width: 100%;
  border: 1px solid var(--color-font-dark);
  border-radius: var(--bor-5);
}
.sectionFour__wrapper__bottom-card-item p {
  margin-top: 20px;
}

/* ======= SECTION 5 ============ */
.sectionFive__wrapper {
  width: 80%;
  margin: 0 auto;
}
/* >>>>> TITLE <<<<< */
.sectionFive__wrapper-title h2 {
  margin-bottom: 48px;
}
.sectionFive__wrapper-title p {
  margin-bottom: 56px;
}
/* >>>>> QUESTION <<<<< */
.sectionFive__wrapper_questions {
  margin-bottom: 96px;
  display: flex;
  gap: 20px;
}
.sectionFive__wrapper_questions__left,
.sectionFive__wrapper_questions__right {
  flex: 1;
}
/* *** item **** */
.sectionFive__wrapper_questions__left-item {
  display: flex;
  margin-bottom: 56px;
}
.sectionFive__wrapper_questions__left-item > p {
  font-size: 32px;
  color: var(--color-font-blue);
  font-weight: 900;
  margin-right: 24px;
}

.sectionFive__wrapper_questions__left-item div p {
  margin-bottom: 16px;
}

/* >>>>> CARDS <<<<<< */
/* *** item **** */
.sectionFive__wrapper__cards {
  margin-bottom: 96px;
  display: flex;
  align-items: stretch;
  gap: 16px;
}
.sectionFive__wrapper__cards-item {
  flex: 1;
  padding: 32px 32px 40px 32px;

  border: 1px solid var(--color-light-gray);
  border-radius: var(--bor-5);

  background: var(--color-white);

  cursor: pointer;
}
.sectionFive__wrapper__cards-item:hover {
  border: 1px solid var(--color-font-blue);
}
.sectionFive__wrapper__cards-item p {
  margin-top: 8px;
}

/* >>>>>> FOOTER <<<<< */
.sectionFive__wrapper-footer p {
  text-align: center;
}
.sectionFive__wrapper-footer button {
  padding: 18px 76px;
  font-weight: 600;
  margin: 32px auto 0 auto;
  display: block;
}

/* ======= SECTION 6 ============ */
.sectionSix__wrapper {
  width: 80%;
  margin: 0 auto;
}
/* >>>>> SECTION TOP <<<<< */
/* *** title *** */
.sectionSix__wrapper__top h2 {
  margin-bottom: 48px;
}
.sectionSix__wrapper__top p {
  margin-bottom: 32px;
}
/* *** buttons *** */
.sectionSix__wrapper__top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionSix__wrapper__top-buttons :is(button, div > button) {
  background: transparent;
  border: 1px solid var(--color-font-blue);
  color: var(--color-font-blue);
  font-weight: 600;
}
.sectionSix__wrapper__top-buttons > button {
  padding: 16px 32px;
}
.sectionSix__wrapper__top-buttons div button {
  width: 34px;
  height: 34px;
  margin-right: 40px;
}
.sectionSix__wrapper__top-buttons div button:not(:last-child) {
  margin-right: 40px;
}
/* >>>>> SECTION BOTTOM <<<<< */
/* *** card *** */
.sectionSix__wrapper__bottom {
  padding-top: 56px;
  display: flex;
  width: 100%;
  gap: 20px;
}
.sectionSix__wrapper__bottom__card {
  width: 33%;
}

.sectionSix__wrapper__bottom__card img {
  width: 100%;
  margin-bottom: 12px;
}
.sectionSix__wrapper__bottom__card p {
  margin-bottom: 12px;
}
.sectionSix__wrapper__bottom__card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionSix__wrapper__bottom__card-buttons div:first-of-type button {
  padding: 6px 14px;
  font-weight: 600;
}
.sectionSix__wrapper__bottom__card-buttons div:last-of-type button {
  padding: 6px 14px;
  background: var(--color-font-blue);
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
/* ===================================== */
/* ============ RESPONSIVE ============= */
/* >>>>>> TABLETS <<<<<<<<< */
@media screen and (max-width: 1024px) {
  /* ============ NAVBAR ============= */
  nav {
    position: relative;
  }
  /* >>>> NAV RIGHT <<<<< */
  /* *** normal nav *** */
  .nav__wrapper__right-lists {
    display: none;
  }

  /* *** responsive nav *** */
  .nav__wrapper__right-list-responsive {
    width: 100%;
    height: auto;
    padding: 40px;

    position: absolute;
    top: 80px;
    left: 0;

    display: none;

    background: var(--color-white);
  }
  .nav__wrapper__right-list-responsive.active {
    display: block;
  }
  .nav__wrapper__right-list-responsive div h3 {
    font-size: 20px;
  }
  .nav__wrapper__right-list-responsive div div {
    display: flex;
    flex-direction: column;
  }
  .nav__wrapper__right-list-responsive div div a {
    padding: 14px 14px 14px 0;
    font-size: 16px;
  }
  .nav__wrapper__right-list-responsive div i {
    color: var(--color-font-blue);
  }

  .nav__wrapper__right-list-responsive div div button {
    padding: 11px 24px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .nav__wrapper__right-list-responsive div div button:nth-of-type(2) {
    border: 1px solid var(--color-font-blue);
    margin-right: 16px;

    background: transparent;

    color: var(--color-font-blue);
  }
  /* *** nav buttons *** */
  .nav__wrapper__right-buttons .menu {
    display: block;
  }
  .nav__wrapper__right-buttons span i {
    display: flex;
    align-items: center;
  }
  /* =========== HEADER ============ */
  header {
    width: 100%;
  }
  .header__wrapper {
    width: 100%;
  }
  /* >>>> TITLE <<<< */
  .header__wrapper div h1 {
    font-size: 48px;
  }

  /* ============ SECTION 1 ========== */
  .sectionOne__wrapper {
    width: 100%;
  }
  /* >>>> DESC <<<<< */
  .sectionOne__wrapper__desc {
    flex-direction: column;
    gap: 40px;
  }
  /* >>>> IMG <<<<< */
  .sectionOne__wrapper > img {
    width: 100%;
  }
  /* ======= SECTION 2 ============ */
  .sectionTwo__wrapper {
    width: 100%;

    flex-direction: column-reverse;
    gap: 36px;
  }

  /* ======= SECTION 3 ============ */
  .sectionThree__wrapper {
    flex-direction: column;

    width: 100%;
  }

  /* ======= SECTION 4 ============ */
  .sectionFour__wrapper {
    width: 100%;
  }
  /* SECTION CENTER */
  .sectionFour__wrapper__center-card {
    width: 100%;
  }
  /* SECTION BOTTOM */
  .sectionFour__wrapper__bottom-card {
    flex-direction: column;
    gap: 36px;
  }
  .sectionFour__wrapper__bottom-card-item {
    width: 100%;
  }
  /* ======= SECTION 5 ============ */
  .sectionFive__wrapper {
    width: 100%;
  }

  /* ======= SECTION 6 ============ */
  .sectionSix__wrapper {
    width: 100%;
  }
}

/*  >>>>>>>>>>> MOBILE <<<<<<<<<<<*/
@media screen and (max-width: 600px) {
  /* ===========GENERAL STYLES ========== */
  /* font */
  .fontSize[data-title] {
    font-size: 32px;
  }
  .fontSize[data-medium-title] {
    font-size: 20px;
  }

  .fontSize[data-small] {
    font-size: 12px;
  }

  /* ============ HEADER ============= */
  .header__wrapper {
    width: 100%;
  }
  .header__wrapper div {
    width: 100%;
  }
  /* >>>> TITLE <<<< */
  .header__wrapper div h1 {
    font-size: 32px;
  }

  /* =====NAVBAR===== */
  /* >>>> NAV RIGHT <<<<< */
  /* *** nav buttons *** */
  .nav__wrapper__right-buttons button {
    display: none;
  }
  .nav__wrapper__right-buttons span i {
    font-size: 30px;
  }

  /* ======= SECTION 5 ============ */
  /* >>>>> QUESTION <<<<< */
  .sectionFive__wrapper_questions {
    margin-bottom: 48px;
    flex-direction: column;
    gap: 20px;
  }
  /* *** item **** */
  .sectionFive__wrapper_questions__left-item {
    display: flex;
    margin-bottom: 0;
  }
  /* >>>>> CARDS <<<<<< */
  .sectionFive__wrapper__cards {
    margin-bottom: 48px;
    flex-direction: column;
  }

  /* ======= SECTION 6 ============ */
  .sectionSix__wrapper__bottom {
   
    flex-direction: column;
   
  }
  .sectionSix__wrapper__top-buttons {
   flex-direction: column;
  
  }
  .sectionSix__wrapper__top-buttons > button {
    margin-bottom: 20px;
  }
  .sectionSix__wrapper__top-buttons div button:not(:last-child) {
    margin-right: 20px;
  }
  .sectionSix__wrapper__bottom__card {
    width: 100%;
  }
 
}
